$mobile: 460px;
$tablets: 720px;

$border-radius: 5px;

$box-shadow: 8px 8px 15px -8px rgba(17, 30, 39, 0.63);

//COLORS
$input-border: #E4E4E4;

$tag: rgba(0, 255, 76, 0.685);

$red: #d21919;
$orange: #d27c19;
$blue: #1976d2;

$red-border: rgba(210, 25, 25, 0.5);
$orange-border: rgba(210, 102, 25, 0.5);
$blue-border: rgba(25, 118, 210, 0.5);

$red-hover: rgba(210, 25, 25, 0.05);
$orange-hover: rgba(210, 84, 25, 0.05);
$blue-hover: rgba(25, 118, 210, 0.05);

@mixin border($color) {
  border: 1px solid $color;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  min-width: 360px;
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(156, 156, 156, 0.664);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}